@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap');
body {
	background: #FFFFFF;
	margin: 0;
}
.container {
	width: 100%;
	max-width:1920px;
	margin: 0 auto;
	position: relative;
}
.header {
	padding: 77px 240px 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1440px;
	&__nav {
		width: 100%;
		max-width: 307px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		ul {
			width: 307px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			li {
				display: flex;
				justify-content: space-between;
				a {
					text-decoration: none;
					color: #373435;
					font-size: 12px;
					font-family: Open Sans;
					font-weight: normal;
				}
			}
		}
	}
	&__logo {
		width: 440px;
		height: 93px;
	}
}
.about {
	display: flex;
	background: #373435;
	&__title {
		width: 100%;
		max-width: 458px;
		height: 100%;
		max-height: 279px;
		font-family: BioRhyme;
		font-style: normal;
		font-weight: bold;
		font-size: 80px;
		line-height: 93px;
		position: absolute;
		color: #C8A063;
		top: 119px;
		left: 1222px;
		span {
			color: #f6f6f6;
		}
	}
	&__image {
		width: 100%;
		max-width: 1350px;
		height: 100%;
		max-height: 700px;
		img	{
			width: 1350px;
			height: 700px;
		}
	}
	&__triangle {
		width: 0; 
		height: 0; 
	 	border-top: 123px solid transparent;
	  	border-bottom: 123px solid transparent;
		border-left: 123px solid #C8A063;
		opacity: 74%;
		position: absolute;
		left: 1080px;
		top: 137.07px;
	}
	&__text {
		width: 270px;
		height: 147px;
		position: absolute;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: #FFFFFF;
		top: 427px;
		right: 240px;
		p {
			line-height: 19px;
		}
	}
}
.menu {
	margin: 85px auto 116px; 
	max-width: 1440px;
	max-height: 420px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;

	&__description {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 382px;
		line-height: 26px;
	}
	&__title {
		width: 382px;
		font-family: BioRhyme;
		font-style: normal;
		font-weight: bold;
		font-size: 80px;
		height: 279px;
		color: #C8A063;
		line-height: 93px;
	}
	&__text {
		width: 270px;
		height: 114px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: #373435;
	}
	&__container {
		max-width: 880px;
		max-height: 380px;
		width: 100%;
		height: 100%;
		background: #373435;
		img {
			width: 550px;
			height: 380px;
		}
	}
	&__button {
		bottom: 170px;
		left: 1435px;
		width: 100%;
		height: 100%;
		max-width: 160px;
		max-height: 40px;
		position: absolute;
		button {
			width: 160px;
			height: 40px;
			background: #373435;
			border: 3px solid #C8A063;
			span {
				width: 113px;
				height: 20px;
				font-family: BioRhyme;
				font-style: normal;
				font-weight: 800;
				font-size: 20px;
				color: #C8A063;
			}
		}
		&_triangleLeft {
			width: 0; 
			height: 0; 
		 	border-top: 90px solid transparent;
		  	border-bottom: 90px solid transparent;
			border-left: 90px solid #C8A063;
			opacity: 74%;
			position: absolute;
			top: 180px;
			left: 1330px;
		}
		&_triangleRight {
			width: 0; 
			height: 0; 
		 	border-top: 90px solid transparent;
		  	border-bottom: 90px solid transparent;
			border-right: 90px solid #C8A063;
			opacity: 74%;
			position: absolute;
			top: 19px;
			left: 1610px;
		}
	}
}
.gallery {
	display: flex;
	justify-content: space-between;
	max-width: 1920px; 
	margin: 0 auto 120px;
}
.form {
 	display: flex;
 	justify-content: space-between;
 	width: 979px;
 	height: 274px;
 	margin: 0 auto 120px;
 	&__title {
 		width: 349px;
		height: 279px;
		font-family: BioRhyme;
		font-style: normal;
		font-weight: bold;
		font-size: 80px;
		text-align: right;
		line-height: 116.4%;
		color: #C8A063;
 	}
 	&__content {
 		width:  560px;
 		height: 250px;
 		background: #C8A063;
 		align-items: center;
 		position: relative;	
 		&_title {
 			position: absolute;
 			top: 51px;
 			left: 100px;
 			width: 360px;
			height: 19px;
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
			text-align: center;
			color: #373435;
 		}	
 		&_input {
 			position: absolute;
 			top: 90px;
 			left: 120px;
 			display: flex;
 			justify-content: center;
 			input {
 				width: 320px;
				height: 40px;
				background: #FFFFFF;
				border: 1px solid #A07F4D;
 			}
 		}
 		&_button {
 			position: absolute;
 			top: 160px;
 			left: 200px;
 			button {
	 			width: 160px;
				height: 40px;
				background: #C8A063;
				border: 3px solid #373435;
				button 
				span {
					width: 113px;
					height: 20px;
					font-family: BioRhyme;
					font-style: normal;
					font-weight: 800;
					font-size: 20px;
					text-align: center;
					color: #373435;
				}
			}	
 		}
 	}
}
.footer {
	width: 100%;
	max-width: 1920px;
	background: #373435;
	margin: 0 auto;
	position: relative;
	&__map {
		width: 100%;
		max-width: 890px;
		height: 100%;
		max-height: 360px;
	}
	&__firstlogo {
		position: absolute;
		top: 123px;
		left: 962px;
	}
	&__firstext {
		position: absolute;
		width: 120px;
		height: 57px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: #ffffff;
		top: 120px;
		left: 990px;
	}
	&__secondlogo {
		position: absolute;
		top: 199px;
		left: 962px;
	}
	&__secondtext {
		position: absolute;
		width: 120px;
		height: 38px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: #FFFFFF;
		top: 196px;
		left: 990px;
	}
	&__thirdtext {
		position: absolute;
		width: 120px;
		height: 38px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: #FFFFFF;
		top: 247px;
		left: 990px;
	}
	&__fourthlogo {
		position: absolute;
		top: 123px;
		left: 1152px;
	}
	&__fifthtext {
		position: absolute;
		width: 120px;
		height: 19px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: #FFFFFF;
		top: 120px;
		left: 1180px;
	}
	&__fifthlogo {
		position: absolute;
		top: 161px;
		left: 1152px;
	}
	&__sixthtext {
		width: 175px;
		height: 19px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: #FFFFFF;
		top: 157px;
		left: 1180px;
		position: absolute;
	}
	&__input {
		position: absolute;
		width: 169px;
		height: 30px;
		top: 200px;
		left: 1181px;
		& input {
			background: #FFFFFF;
			border: 1px solid #A07F4D;
			width: 169px;
			height: 30px;
		}
	}
	&__btn {
		position: absolute;
		top: 250px;
		left: 1217px;
		background: #C8A063; 
		& button {
			width: 98px;
			height: 30px;
			border: 3px solid #C8A063;
			box-sizing: border-box;
			& span {
				width: 113px;
				height: 20px;
				font-family: BioRhyme;
				font-style: normal;
				font-weight: 800;
				font-size: 14px;
				line-height: 116.4%;
				text-align: center;
				color: #C8A063;
			}
		}
	}
}
.title {
	&__first {
		position: absolute;
		top: 60px;
		left: 960px;
		right: 770px;
		bottom: 272px;
		width: 190px;
		height: 28px;
		font-family: BioRhyme;
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 116.4%;
		color: #C8A063;
	}	
	&__second {
		position: absolute;
		width: 126px;
		height: 28px;
		font-family: BioRhyme;
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		color: #C8A063;
		top: 60px;
		left: 1555px;
	}
}
.social {
	&-insta {
		position: absolute;
		top: 125px;
		left: 1556px;
	}
	&-face{
		position: absolute;
		top: 125px;
		left: 1602px;
	}
	&-twitter {
		position: absolute;
		top: 125px;
		left: 1646px;
	}
	&-logo {
		position: absolute;
		top: 164px;
		left: 1577px;
	}
	&-icon {
		position: absolute;
		top: 164px;
		left: 1624px;
	}
	&-text {
		position: absolute;
		width: 128px;
		height: 14px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: #FFFFFF;
		top: 270px;
		left: 1553px;
	}
}
